@charset "utf-8";

@loader: "../img/ajax-loader.gif";

#result {
    ul.thumbnails {
        li {
            width: 150px;
            height: 150px;
            background: url(@loader) no-repeat center;
            a {
                width: 150px;
                height: 150px;
            }
        }
    }
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    div.img-polaroid {
        position: absolute;
        left: 50%;
        overflow: hidden;
        background: white url(@loader) no-repeat center;
        cursor: auto;
        &:hover {
            div.instagram-metadata {
                opacity: 1;
            }
        }
        div.instagram-metadata {
            display: table;
            position: absolute;
            left: 0;
            bottom: 0;
            transition-propaty: opacity;
            transition-duration: 0.5s;
            opacity: 1;
            margin: 0 4px 4px;
            background: rgba(0, 0, 0, 0.7);
            color: white;
            div.icon, div.metadataColumn {
                display: table-cell;
            }
            div.metadataColumn {
                padding: 10px;
            }
            div.icon {
                padding: 10px;
                vertical-align: middle;
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 3px;
                    border: solid 1px #ccc;
                }
            }
        }
    }
}

div.footer {
    margin-bottom: 50px;
}